{% extends 'layouts/admin_base.html' %}

{% block breadcrumb %}Kelola Keuangan Al-Bayan{% endblock %}

{% block admin_content %}
    {% include 'admin/components-AK/headers.html' %}
    {% include 'admin/components-AK/cards.html' %}
    {% include 'admin/components-AK/tabs_filter.html' %}
    {% include 'admin/components-AK/table.html' %}
    {% include 'admin/components-AK/modal_tambah.html' %}
{% endblock %}

{% block extra_scripts %}
    {% include 'admin/components-AK/scripts.html' %}
{% endblock %}