{% extends 'layouts/base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="card-box">

  <div class="d-flex justify-content-between mb-3">
    <h5>Admin Users Management</h5>
    <button class="btn btn-success rounded-pill px-3">+ Add New Admin</button>
  </div>

  <input type="text" class="form-control mb-3" placeholder="Search admin...">

  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
  <td>1</td>
  <td>Dianne Russell</td>
  <td>tes@gmail.com</td>
  <td>Super Admin</td>
  <td>
    <div class="status active">Active</div>
  </td>
  <td><a href="#" class="text-edit">Edit</a></td>
</tr>

<tr>
  <td>3</td>
  <td>Dianne Russell</td>
  <td>tes@gmail.com</td>
  <td>Keuangan</td>
  <td>
    <div class="status pending">Pending</div>
  </td>
  <td><a href="#" class="text-edit">Edit</a></td>
</tr>

<tr>
  <td>4</td>
  <td>Dianne Russell</td>
  <td>tes@gmail.com</td>
  <td>Humas</td>
  <td>
    <div class="status inactive">Inactive</div>
  </td>
  <td><a href="#" class="text-edit">Edit</a></td>
</tr>
     
    </tbody>
  </table>

</div>

{% endblock %}