{% extends 'layouts/admin_base.html' %}

{% block breadcrumb %}Dashboard Admin Super{% endblock %}

{% block admin_content %}
<div class="container-fluid px-0">
    
    <!-- Aksi Cepat Telah Dihapus dari Sini -->

    {% include 'admin/components-AS/stats_cards.html' %}
    {% include 'admin/components-AS/charts_main.html' %}
    {% include 'admin/components-AS/bottom_sections.html' %}

</div>
{% endblock %}

{% block extra_scripts %}
    {% include 'admin/components-AS/scripts_dashboard.html' %}
{% endblock %}