<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Masjid Al-Bayan</title>
</head>
<body>
    <h2>Jadwal Sholat Masjid Al-Bayan</h2>

<table border="1">
  <tr>
    <th>Hari</th>
    <th>Subuh</th>
    <th>Imam</th>
    <th>Adzan</th>
    <th>Iqomah</th>
  </tr>

  <tr>
    <td>Senin</td>
    <td>04:30</td>
    <td>Ustadz Ahmad</td>
    <td>04:20</td>
    <td>04:35</td>
  </tr>
</table>

</body>
</html>