<div class="row g-3 mb-4 justify-content-center">
    <div class="col-md-3">
        <div class="stats-card p-3">
            <small class="text-muted" style="font-size: 12px;">Total Pemasukan</small>
            <div class="fw-bold my-1" style="font-size:24px;color:#1B1714;">
                Rp {{ "{:,.0f}".format(total_pemasukan_card) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-card p-3">
            <small class="text-muted" style="font-size: 12px;">Total Pengeluaran</small>
            <div class="fw-bold my-1" style="font-size:24px;color:#1B1714;">
                Rp {{ "{:,.0f}".format(total_pengeluaran_card) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-card p-3">
            <small class="text-muted" style="font-size: 12px;">Saldo Aktif</small>
            <div class="fw-bold my-1" style="font-size:24px;color:#1B1714;">
                Rp {{ "{:,.0f}".format(saldo_aktif) }}
            </div>
        </div>
    </div>
</div>