<div class="d-flex justify-content-between align-items-end mb-4">
    <div>
        <h4 class="fw-bold mb-0 mt-1" style="color: #1B1714;">Kelola Keuangan Masjid</h4>
    </div>

    <div class="d-flex align-items-center gap-2">
        
        <button class="btn btn-action-pill pill-secondary" data-bs-toggle="modal" data-bs-target="#modalImportExcel">
            <i class="bi bi-file-earmark-arrow-down me-1"></i> Import data
        </button>

        <a id="btnExport" href="/admin-keuangan/finance/export?{{ request.query_string.decode() }}" class="btn btn-action-pill pill-secondary">
            <i class="bi bi-file-earmark-arrow-up me-1"></i> Export Excel
        </a>

        <button class="btn btn-action-pill pill-primary" data-bs-toggle="modal" data-bs-target="#modalTambahTransaksi">
            + Tambah Transaksi
        </button>
    </div>
</div>